# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [11]:
# import libraries
import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
from google.colab import files
uploaded = files.upload()

Saving Pokemon.csv to Pokemon.csv

In [3]:
pokemon = pd.read_csv('/content/Pokemon.csv')

### Print first 10 rows of `pokemon`

In [4]:
# enter your code here
pokemon.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [10]:
# enter your code here
p_array = pokemon[["Type 1", "Type 2"]].to_numpy()
p_array

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [14]:
# enter your code here

pokemon["Name"] = pokemon["Name"].str.replace('Mega','')
# test transformed data

pokemon.head(10)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3      Venusaur Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False
5  5             Charmeleon   Fire  ...    80           1      False
6  6              Charizard   Fire  ...   100           1      False
7  6  Charizard Charizard X   Fire  ...   100           1      False
8  6  Charizard Charizard Y   Fire  ...   100           1      False
9  7               Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [19]:
# enter your code here
pokemon['A/D Ratio'] = round(pokemon['Attack']/pokemon['Defense'],2)
pokemon

       #                 Name   Type 1  ... Generation  Legendary  A/D Ratio
0      1            Bulbasaur    Grass  ...          1      False       1.00
1      2              Ivysaur    Grass  ...          1      False       0.98
2      3             Venusaur    Grass  ...          1      False       0.99
3      3    Venusaur Venusaur    Grass  ...          1      False       0.81
4      4           Charmander     Fire  ...          1      False       1.21
..   ...                  ...      ...  ...        ...        ...        ...
795  719              Diancie     Rock  ...          6       True       0.67
796  719      Diancie Diancie     Rock  ...          6       True       1.45
797  720  HoopaHoopa Confined  Psychic  ...          6       True       1.83
798  720   HoopaHoopa Unbound  Psychic  ...          6       True       2.67
799  721            Volcanion     Fire  ...          6       True       0.92

[800 rows x 14 columns]

### Identify the pokemon with the highest `A/D Ratio`

In [36]:
# enter your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()]

       #                Name   Type 1  ... Generation  Legendary  A/D Ratio
429  386  DeoxysAttack Forme  Psychic  ...          3       True        9.0

[1 rows x 14 columns]

### Identify the pokemon with the lowest A/D Ratio

In [35]:
# enter your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()]

       #     Name Type 1 Type 2  ...  Speed  Generation  Legendary  A/D Ratio
230  213  Shuckle    Bug   Rock  ...      5           2      False       0.04

[1 rows x 14 columns]

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [40]:
# enter your code here

pokemon['Combo Type']= pokemon['Type 1'].fillna('') + ' ' + pokemon['Type 2'].fillna('')
pokemon

       #                 Name   Type 1  ... Legendary  A/D Ratio     Combo Type
0      1            Bulbasaur    Grass  ...     False       1.00   Grass Poison
1      2              Ivysaur    Grass  ...     False       0.98   Grass Poison
2      3             Venusaur    Grass  ...     False       0.99   Grass Poison
3      3    Venusaur Venusaur    Grass  ...     False       0.81   Grass Poison
4      4           Charmander     Fire  ...     False       1.21          Fire
..   ...                  ...      ...  ...       ...        ...            ...
795  719              Diancie     Rock  ...      True       0.67     Rock Fairy
796  719      Diancie Diancie     Rock  ...      True       1.45     Rock Fairy
797  720  HoopaHoopa Confined  Psychic  ...      True       1.83  Psychic Ghost
798  720   HoopaHoopa Unbound  Psychic  ...      True       2.67   Psychic Dark
799  721            Volcanion     Fire  ...      True       0.92     Fire Water

[800 rows x 15 columns]

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [67]:
# enter your code here
top_5=pokemon.sort_values('A/D Ratio',ascending = False).head(5)
top_5

       #                Name   Type 1  ... Legendary  A/D Ratio  Combo Type
429  386  DeoxysAttack Forme  Psychic  ...      True       9.00    Psychic
347  318            Carvanha    Water  ...     False       4.50  Water Dark
19    15   Beedrill Beedrill      Bug  ...     False       3.75  Bug Poison
453  408            Cranidos     Rock  ...     False       3.12       Rock
348  319            Sharpedo    Water  ...     False       3.00  Water Dark

[5 rows x 15 columns]

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [68]:
# enter your code here
top_5[['Name', 'Combo Type', 'A/D Ratio']]

                   Name  Combo Type  A/D Ratio
429  DeoxysAttack Forme    Psychic        9.00
347            Carvanha  Water Dark       4.50
19    Beedrill Beedrill  Bug Poison       3.75
453            Cranidos       Rock        3.12
348            Sharpedo  Water Dark       3.00

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [83]:
# enter your code here
list_combo= top_5['Combo Type'].tolist()

#pokemon[pokemon['Combo Type']== top_5['Combo Type']]
pokemon[pokemon['Combo Type'].isin(top_5['Combo Type'])].groupby(['Combo Type']).agg({'A/D Ratio':'mean'})

            A/D Ratio
Combo Type
Bug Poison   1.315833
Psychic      1.164211
Rock         1.258889
Water Dark   2.291667